*, ::after, ::before {
    box-sizing: border-box;
}

#mapid {
    box-shadow:
        #009688 0 0 0 5px, 
        #059c8e 0 0 0 1px, 
        #0cab9c 0 0 0 10px, 
        #1fbdae 0 0 0 11px, 
        #8ce9ff 0 0 0 16px, 
        #48e4d6 0 0 0 17px, 
        #e5f9f7 0 0 0 21px, 
        #bfecf7 0 0 0 22px;
    /* border-radius: 10px; */
}
#map_search {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height: 70vh;
}

.map-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Ensures map container takes up available space */
    height: 500px; /* Fixed height to prevent shrinking */
    z-index: 90;
    padding: 0 20px 20px 20px;
}

#mapid {
    width: 80%; /* Ensures map takes the full width of the container */
    height: 100%; /* Ensures map takes the full height of the container */
}

.search-box {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Space between map and search box */
}

#locationInput {
    padding: 8px;
    width: 250px;
    margin-right: 10px;
}

button {
    padding: 8px;
    background-color: #80e2ee; /* Default button background */
    color: white; /* Button text color */
    border: none;
    border-radius: 4px; /* Rounded corners for the button */
    cursor: pointer;
    font-size: 16px; /* Increase font size */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #70c6ce; /* Darker shade on hover */
}


/*Styling Map Controls*/
.leaflet-control-zoom {
    background-color: #000000;
    border: none;
    box-shadow: none;
}

.leaflet-control-zoom a {
    color: #000000; /* Change button color */
}

.leaflet-control-attribution {
    font-size: 12px;
    color: #888;
}

/*Styling Popups*/
.leaflet-popup-content-wrapper {

    border-radius: 10px;         /* Rounded corners */
    border: 2px solid #000;      /* Custom border */
    padding: 5px;
}
/* Custom font for Leaflet popups */
.leaflet-popup-content {
    font-family: 'Times New Roman', Times, serif; /* Change to your desired font */
    font-size: 15px;                  /* Adjust font size */
    color: #333;                      /* Set text color */
    line-height: 1.2;                 /* Optional: adjust line spacing */
    font-weight: bold;                /* Optional: change font weight */
}

.leaflet-popup-tip {
    background: #000000;         /* Match the background color with the popup */
}

/* Popup background colors based on class */

.popup-red .leaflet-popup-content-wrapper {
    background-color: #ffcccc; /* Light red */
    border: 2px solid red;
}

.popup-yellow .leaflet-popup-content-wrapper {
    background-color: #ffffcc; /* Light yellow */
    border: 2px solid yellow;
}

.popup-green .leaflet-popup-content-wrapper {
    background-color: #ccffcc; /* Light green */
    border: 2px solid green;
}
